@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Home>
@{
    Layout = "master.cshtml";
}

@* the fun starts here *@

  
<div class="background-1">
        <img src="~/Media/tf5nv1o5/screenshot-2019-10-15-at-13-11-31.png"/>
</div>
<div id="omOss">
    <div class="row">
        <div class="col-12 justify-content-center text-white">
            <div class="tekst-center margin-header">
                <h1>@Model.Title</h1>
                <h1 class="textcolor-orange">@Model.Subtitle</h1>
            </div>
            <div class="tekst-center my-5">
                <h2>@Model.Subtitle2</h2>
            </div>
            <div class="tekst-center my-5">
                <button class="button-1" type="button">TA REDA PÅ MER</button>
            </div>
        </div>
    </div>
</div>

@Html.GetGridHtml(Model, "mainContent")

<div class="container">    
    <div class="row">
        <div class="col-12 col-md-8 border message-area">
            <div class="row ">
                <div class="col-12 col-md-10">
                    <div class="p-5">
                        <h2 class="pl-4">SEND US A MESSAGE</h2>
                        </br>
                        <textarea rows="1" cols="50" class="form-control"></textarea>
                        </br>
                        <textarea rows="1" cols="50" class="form-control"></textarea>
                        </br>
                        <textarea rows="11" cols="50" class="form-control"></textarea>
                        <div class="my-5">
                            <button class="button-1" type="button">send message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 my-md-5 my-0">
            <div class="contactinfo-bg p-md-5 p-4">
                <div class="mx-5">
                    <h2>MONSEFI MARKETING</h2>
                    <p>
                        lorem ipsum dolor sit met consecteuer
                        adipiscing lorem ipusm dolor sit met
                    </p>
                </div>
                <div class="m-5">
                    <div class="row my-4">
                        <div class="col-2">
                            <a class="a-decoration-non" href="tel:@Model.Facebook" target="_blank">
                                <img class="socialmediaimg" src="~/Media/d0aojynh/phone.png" />
                            </a>
                        </div>
                        <div class="col-10">
                            @Model.Phone
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-2">
                            <a class="a-decoration-non" href="#">
                                <img class="socialmediaimg" src="~/Media/smudmy1x/location.png" />
                            </a>
                        </div>
                        <div class="col-10">
                            @Model.Address
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-2">
                            <a class="a-decoration-non" href="mailto:@Model.Email" target="_blank">
                                <img class="socialmediaimg" src="~/Media/fudbk5vq/mail.png" />
                            </a>
                        </div>
                        <div class="col-10">
                            @Model.Email
                        </div>
                    </div>
                </div>
                <div class="mx-5">
                    <h3>FOLLOW</h3>
                    <a href="@Model.Facebook" target="_blank">
                        <img class="socialmediaimg" src="~/Media/fsyhxuel/facebook-2.png" />
                    </a>
                    <a href="@Model.Twitter" target="_blank">
                        <img class="socialmediaimg" src="~/Media/x2ibs5cg/twitter-2.png" />
                    </a>
                    <a href="@Model.Instagram" target="_blank">
                        <img class="socialmediaimg" src="~/Media/3uwmyxdt/instagram-2.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
