@inherits UmbracoViewPage<UmbracoSite.Models.ContactModel>

@using (Html.BeginUmbracoForm("SubmitForm", "ContactSurface", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <h2 class="pl-4">SEND US A MESSAGE</h2>

    <div class="form-group">
        @Html.ValidationSummary()
    </div>

    @Html.TextAreaFor(m => m.EmailAddress, new { @class = "form-control", @cols = 50, @rows = 1, placeholder = "E-mail address" })
    <br />

    @Html.TextAreaFor(m => m.Subject, new { @class = "form-control", @cols = 50, @rows = 1, placeholder = "Subject" });

    <br />
    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @cols = 50, @rows = 11, placeholder = "Write your E-mail here" })

    <div class="my-5">
        <button class="button-1">SEND MESSAGE</button>
    </div>
}

